#artwork1:hover ~ .rain
{
    opacity: 0;
    display:flex; 
    z-index: 1;
}
#artwork1:hover ~ .rain span
{
    position: relative;
    width: 10px;
    height: 10px;
    
    background-color: #fff;
    margin: 0 2px;
    border-radius:50%;

    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;

    transition: 1s all;
}
@keyframes animate
{
   0%{transform: translateY(0) scale(1);}
   95%{transform: translateY(300px) scale(1);}
   100%{transform: translateY(300px) scale(0);}
}