@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Kanit', sans-serif;
    user-select: none;
}
#first
{
    height: 100vh;
    width: 100vw;
    transform: translate(-100%, 0); 
    background-color: #414954;

    position: absolute;
    top:0%;
}
.word
{
    display: inline;

    font-size: 11vw;
    color : white;
}
#text-box
{   
    position: absolute;
    top:50%;        
    left: 50%;
    transform : translate(-50%,-50%);

    display: flex;
} 
#container
{
    width: 100%;
    height: 100vh;
}